[submodule "apps/happy-wakey-api-server.rs"]
	path = apps/happy-wakey-api-server.rs
	url = https://github.com/happy-wakey/happy-wakey-api-server.rs.git
[submodule "apps/happy-wakey-web-server.rs"]
	path = apps/happy-wakey-web-server.rs
	url = https://github.com/happy-wakey/happy-wakey-web-server.rs.git
[submodule "apps/happy-wakey-sidecar.rs"]
	path = apps/happy-wakey-sidecar.rs
	url = https://github.com/happy-wakey/happy-wakey-sidecar.rs.git
[submodule "apps/happy-wakey-mcp-server.rs"]
	path = apps/happy-wakey-mcp-server.rs
	url = https://github.com/happy-wakey/happy-wakey-mcp-server.rs.git
